@import '~bootstrap/dist/css/bootstrap.css';
@import '~react-datepicker/dist/react-datepicker.css';

/* Variables */
$rgis-red: #990033;

/* Styles */
body {
  font-family: 'Raleway', sans-serif !important;
  line-height: 1.4em;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  color: #414042;
}

.modal-content{
    background-color: darkcyan;
  }
  .btn-link{
    color:white;
  }
  .modal-heading h2{
    color:#ffffff;
  }

/*LOGIN FORM*/
.logo {
  width: 100px;
  float: left;
}

.header {
  height: 50px;
}
.header-text {
  padding-top: 20px;
  font-weight: bold;
}

.login-form {
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  padding: 20px 20px 50px 20px;
}

.login-form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #999999;
  border-radius: 0;  
}

.login-form input {
  margin: 30px 0;
  color: #bababa;
}

.login-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bababa;
}
.login-form input::-moz-placeholder { /* Firefox 19+ */
  color: #bababa;
}
.login-form input:-ms-input-placeholder { /* IE 10+ */
  color: #bababa;
}
.login-form input:-moz-placeholder { /* Firefox 18- */
  color: #bababa;
}
.login-form-title {
  font-weight: bold;
  padding: 50px 0;
}

.login-button {
  background: #8C1B35;
  color: #ffffff;
  border: 1px solid #8C1B35;
  margin-bottom: 15px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.16);
  cursor: pointer;
}

.register-button {
  color: #8C1B35;
  border: 1px solid #8C1B35;
  cursor: pointer;
}

.login-group-buttons button {
  width: 100%;
  border-radius: 0;
}

.forgot-password {
  color: #8C1B35;
  font-weight: bold;
  float: right;
  font-size: 12px;
  padding: 15px 0;
}

/*END LOGIN FORM*/

// NAVIGATION
button {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
.navbar {
  display: inline-block;
}

.navbar-toggler {
  cursor: pointer;
  float: left;
  margin-top: 12px;
}

.navbar-inverse .navbar-toggler{
  border-color: transparent;
}
.navbar {
  width: 100%;
  background: $rgis-red;
  padding: 0;
}

.navbar img.logo {
  width: 100px;
}

.navbar-nav {
  margin-top: 15px;
}

@media (min-width: 992px){
  .navbar-toggleable-md .navbar-collapse {
      width: auto;
  }
  .navbar-brand {
    float: left;
  }
}

@media (max-width: 992px){
  .navbar-nav {
    padding-left: 15px;
  }
}
// END NAVIGATION

// DATE PICKER
.datepicker-wrapper {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 4px 2px -2px lightgrey;
}
.datepicker-center {
  width: 170px;
  margin: 0 auto;
}
.datepicker-wrapper .datepicker-icon.fa-calendar-alt {
  float: left;
  margin-top: 2px;
}

.datepicker-wrapper .datepicker-icon.fa-caret-left {
  float: left;
  margin-right: 20px;
  cursor: pointer;
  font-size: 22px;
  color: #999999;
}
.datepicker-wrapper .datepicker-icon.fa-caret-right {
  cursor: pointer;
  font-size: 22px;
  color: #999999;
}

.datepicker-calendar {
  float: left;
  width: 60px;
}

.datepicker-next-month {
  width: 30px;
  float: left;
  font-weight: 800;
  color: initial;
}
.datepicker-wrapper .react-datepicker__input-container input {
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none !important;
  padding: 1px 0 0 5px;
}

.react-datepicker {
  font-family: 'Raleway', sans-serif;
}
.collapse.show {
  display: block;
  position: absolute;
  height: 200px;
  background: $rgis-red;
  width: 100%;
  z-index: 10;
}
.react-datepicker-popper {
  transform: translate3d(85px, 100px, 0px) !important;
}

// END DATE PICKER

// SCHEDULE CONTENT
.schedule-content {
  margin: 15px 15px 0 15px;
  border-top: 1px solid #999999;
}
.schedule-date-interval {
  padding: 30px 20px 20px 20px;
  text-align: center;
  font-weight: 800;
}
.schedule-confirm-week-button {
  background: #990033;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  float: right;
}
// END SCHEDULE CONTENT