@model LoginViewModel

<div class="login-page">
    @Html.Partial("_ValidationSummary")

    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="header">
              <h6 class="header-text">EMPLOYEE PORTAL</h6>
            </div>
            <div class="container">
              <div class="login-form">
                <form asp-route="Login">
                  <input type="hidden" asp-for="ReturnUrl" />
                  <h3 class="login-form-title text-center">EMPLOYEE PORTAL LOGIN</h3>
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Employee Badge #" asp-for="Username" autofocus id="username">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off" id="password">
                    </div>
                    <span class="forgot-password">FORGOT PASSWORD</span>
                    <div class="form-group login-remember">
                        <label asp-for="RememberLogin" class="remember-me-checkbox-container">Remember me
                          <input type="checkbox" checked="checked">
                          <div class="checkmark"></div>
                        </label>
                    </div>
                  </div>
                  <div class="form-group login-group-buttons">
                    <button class="btn btn-lg col-xs-12 login-button">LOGIN</button>
                    <button class="btn btn-lg register-btn col-xs-12 register-button">REGISTER</button>
                  </div>
                </form>
              </div>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-md-6 col-sm-6 external-providers">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">External Login</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li>
                                    <a class="btn btn-default"
                                       asp-action="ExternalLogin"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this client.
            </div>
        }
    </div>
</div>